.hero
    padding: 50px 0
    background-color: $bcg-hero-color
    &-block
        display: flex
    &-image
        margin-left: 100px
        &__main
            box-shadow: 7px 5px 10px $hero-img-shadow, 16px 22px 35px $hero-img-shadow            

    &-text
        flex-basis: 50%
        &__title
            color: $text-color
            font-size: 41px
            line-height: 55px
            margin-bottom: 40px
            +bold
        &__subtitle
            display: inline-block
            color: $text-color
            font-size: 20px
            margin-bottom: 69px
    &-list
        margin: 0
        padding: 0
        &__item
            display: flex
            list-style-type: none
            align-items: center
            line-height: 24px
            margin-bottom: 25px
        &__image
            width: 40px
            height: 40px
            border: 2px solid $main-color 
            display: flex
            justify-content: center
            align-items: center
            border-radius: 50%
            margin-right: 30px
            min-width: 40px
        &__text
            max-width: 300px
            font-size: 14px
            line-height: 24px
@media (max-width: 1200px)
    .hero
        &-block
            flex-direction: column
        &-list
            margin-bottom: 44px
        &-text
            padding-right: 10px
        &-image
            margin-left: 0px
@media (max-width: 768px)
    .hero
        &-text
            &__title
                font-size: 24px
                line-height: 1.4
                margin-bottom: 13px
            &__subtitle
                font-size: 16px
                margin-bottom: 28px
        &-list
            &__text
                font-size: 12px
            &__item
                margin-bottom: 20px
        &-image
            margin-right: 15px
            margin-left: 0px



            

            
