.navbar
    padding: 8px 0
    &-block
        display: flex
        justify-content: space-between
        align-items: center
    &__info
        display: flex
        align-items: center
        text-align: right
    &__address
        display: flex
        flex-direction: column
    &__button
        margin-left: 30px
        font-weight: 700 //=======//
        outline: none 
        cursor: pointer
        &:hover
            background: $button-color
    &__phone
        display: inline-block
        color: $text-color
        font-style: 700 //=====//
        font-size: 20px
        font-weight: 700
        text-decoration: none
        margin-top: 10px
@media (max-width: 768px)
    .navbar
        &__contacts
            display: none
        &__button
            font-size: 12px
            padding: 15px 26px
            font-style: 700 //=======//
            box-shadow: none
            text-decoration: none
        &__logo
            width: 90px